# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = false
indent_style = space
indent_size = 2

[{M,m}akefile]
trim_trailing_whitespace = true
indent_style = tab
indent_size = 2

[*.markdown,*.mdown,*.mkdn,*.md,*.mkd,*.mdwn,*.mdtxt,*.mdtext]
indent_style = space
indent_size = 4
